---
 const personalImageAlt = "Mauro Sánchez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 [&>p>a]:text-sky-500 [&>p>a]:underline hover:[&>p>a]:text-sky-700 dark:[&>p>a]:text-sky-400 dark:hover:[&>p>a]:text-sky-300"
  >
    <p>
      ¡Hola! Soy Mauro Sánchez, aunque muchos me conocen como holycode.
      Mi viaje en el mundo de la programación comenzó a los 18 años y desde entonces,
      he estado inmerso en el emocionante mundo del desarrollo de software.
      <strong> Actualmente, lidero un talentoso equipo de desarrollo en <a href="https://kobro.io" target="_blank" rel="noopener noreferrer">kobro.io</a></strong>, 
      donde trabajamos arduamente para crear soluciones innovadoras que impactan positivamente en la vida de nuestros usuarios. 
    </p>

    <p>
      Mis logros en el campo de la programación incluyen colaboraciones 
      exitosas en proyectos destacados durante mi tiempo en Sustam, como
      <strong> Blue Colash, Voy al Teatro, Sushi Express, Kiu, Essity, y ahora,
      en la emocionante startup <a href="https://kobro.io" target="_blank" rel="noopener noreferrer">kobro.io</a>.</strong>
      Estos proyectos me han permitido aplicar mis habilidades y conocimientos 
      en diversos contextos, consolidando mi experiencia y pasión por la creación de 
      tecnología de vanguardia.
    </p>

    <p>
      Además de mi trabajo en el desarrollo de software, estoy incursionando en el mundo del contenido digital.
      <strong> Estoy comprometido en construir la comunidad de habla hispana
      más grande y vibrante en el ámbito de <em class="italic">Software & Game Development</em> en <a href="https://twitch.tv/holycode" target="_blank" rel="noopener noreferrer">Twitch</a></strong>.
      ¡Estoy emocionado por el viaje que tenemos por delante y por las oportunidades de crecimiento y aprendizaje que nos esperan juntos!
    </p>
  </div>

  <img loading="lazy" width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 transition-transform duration-300 ease-in-out hover:scale-105 hover:animate-pulse animate-float" style="object-position: 50% 50%">

</article>

<style>
  @keyframes float {
    0%, 100% {
      transform: translateY(0px) rotate(3deg);
    }
    50% {
      transform: translateY(-8px) rotate(3deg);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
</style>
