---
import ExperienceItem from "./ExperienceItem.astro"
import { DEFAULT_LOCALE, getSiteCopy, type Locale } from "../i18n/site"

interface Props {
  lang?: Locale
}

const { lang = DEFAULT_LOCALE } = Astro.props
const copy = getSiteCopy(lang)
---

<ol class="relative mt-16">
  {
    copy.experience.items.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} moreLabel={copy.experience.more} />
      </li>
    ))
  }
</ol>
