---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/",
  },
  {
    title: "Agencia",
    label: "agencia",
    url: "/#agencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Servicios",
    label: "servicios",
    url: "/#servicios",
  },
  {
    title: "Blog",
    label: "blog",
    url: "/blog",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "/#contacto",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    id="header-nav"
    class="flex px-4 py-2 text-sm font-medium rounded-full text-holy-neutral justify-center items-center backdrop-blur-sm bg-holy-dark-secondary/80 border border-holy-neutral/20"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-3 py-2 transition hover:text-holy-action"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-holy-action")
              item.classList.remove("text-holy-neutral")
            } else {
              item.classList.remove("text-holy-action")
              item.classList.add("text-holy-neutral")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur-md bg-holy-dark-secondary/90 ring-holy-action/20;
    }
  }
</style>
