---
const personalImageAlt = "Mauro Sánchez"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/holycode.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/mesanchez91"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Trabajo en Kobro.io</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
  ¡Hola! Soy Mauro Sánchez
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Un apasionado <strong> Ingeniero de Software y Creador de Contenido sobre Programación</strong> 
    con más de 10 años de experiencia con sede en Zapopan, México. 
    Mi pasión por la programación me ha llevado a especializarme en el desarrollo de aplicaciones web innovadoras y únicas que cautivan a los usuarios.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:mauro.sanchez.simental@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/mesanchez91">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
